{% extends "::layout.html.twig" %}

 {% block content %} 

  <h3>Chinese Zebra Shrimp</h3>
  <dl>
   <dt>Size</dt>
   <dd>2.5-3.5cm</dd>
   <dt>Water parameters</dt>
   <dd>This shrimp thrives in soft, acidic to neutral water and reproduction can decrease significantly in harder and more basic water. However, as with all shrimp it can be kept and reproduces successfully in water around the neutral PH value (plus or minus).</dd>
   <dt>Photo</dt>
    <dd> <img src=    "{{asset ('bundles/shrimps/images/zebra.jpg') }} " alt="Symfony!" /> </dd>
  </dl>

{% endblock %}

{% block navigation %}
<a href="{{path ('tiger')}}">Tiger Shrimp </a>
<br/>
<a href="{{path ('sri_lanka')}}">Sri lanka dwarf </a>
{% endblock %}